@media(min-width: 768px) {
    .mainColunas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 1rem;
        padding: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .gridLogo,
    .gridInfos,
    .gridInscricao {
        padding: 0.5rem;
    }

    .gridLogo {
        grid-column: 1 / -1;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gridInfos,
    .gridInscricao {
        grid-column: span 1;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: stretch;
        text-align: justify;
    }

    .gridInfos {
        margin-right: 0.25rem;
    }

    .gridInscricao {
        margin-left: 0.25rem;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        flex-grow: 1;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 1.5rem;
        min-height: 250px;
        background-color: #e1edef;
    }

    .map-container {
        height: 400px;
        margin-top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .map-container iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    .gridLogo h3,
    .gridInfos h3,
    .gridInscricao h3 {
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
        font-size: 1.125rem;
        font-weight: bold;
        color: #333;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        background-color: #9dc8ce;
        padding: 0.5rem;
        border-radius: 6px;
        border-bottom: 2px solid #cbd5e0;
    }

    .dentro {
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
}

@media(max-width: 767px) {
    .footer-col {
        width: 100%;
        margin-bottom: 20px;
    }

    .mainColunas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 2rem;
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .gridLogo {
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gridInfos {
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: stretch;
        text-align: justify;
    }

    .gridInscricao {
        grid-row: 3;
        display: flex;
        justify-content: center;
        align-items: stretch;
        text-align: justify;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        flex-grow: 1;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        min-height: 200px;
        background-color: #e1edef;
    }

    .map-container {
        height: 300px;
        margin-top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .map-container iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    .gridLogo h3,
    .gridInfos h3,
    .gridInscricao h3 {
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
        font-size: 1.125rem;
        font-weight: bold;
        color: #333;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        background-color: #9dc8ce;
        padding: 0.5rem;
        border-radius: 6px;
        border-bottom: 2px solid #cbd5e0;
    }

    .dentro {
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
        margin-bottom: 15px;
    }

    .mainColunas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 1.5rem;
        padding: 0.75rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .gridLogo {
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gridInfos {
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gridInscricao {
        grid-row: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        flex-grow: 1;
        border-radius: 8px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        padding: 0.75rem;
        min-height: 200px;
        background-color: #e1edef;
    }

    .map-container {
        height: 200px;
        margin-top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .map-container iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    .gridLogo h3,
    .gridInfos h3,
    .gridInscricao h3 {
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        background-color: #9dc8ce;
        padding: 0.5rem;
        border-radius: 6px;
        border-bottom: 2px solid #cbd5e0;
    }

    .dentro {
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
}
