/* Responsividade */
/* computador - largura mínima de 768px */
@media(min-width: 768px) {
    .mainColunas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: max(200px, auto);
    }

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        flex-grow: 1;
    }
}

/* tablet - largura entre 575px e 767px */
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .mainColunas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        flex-grow: 1;
    }
}

/* celular - largura de até 574px */
@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }

    .mainColunas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        flex-grow: 1;
    }
}

/*-----------------------------------------------------------------------------*/
/* article - logo */
.gridLogo h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.imgLogo {
    height: 65%;
    align-self: center;
}

/*-----------------------------------------------------------------------------*/
/* article - Informacoes */
.gridInfos h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

/*-----------------------------------------------------------------------------*/
/* article - Inscricao */
.gridInscricao h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

/*-----------------------------------------------------------------------------*/
fieldset {
    border: none;
    border-radius: 10px;
    margin: 2%;

    flex-grow: 1;
    min-height: 90%;
    width: 100%;
    background-color: #e1edef;

}

.titulo {
    font-size: larger;
    text-decoration: solid;
    padding: 2%;
}

article {
    margin: 3px;
}