@media(min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: max(200px, auto);
        gap: 16px; 
    }
}

@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
    }

    .disciplinas {
        margin: 4%;
    }
}

@media (max-width: 574px) {
    .responsividade {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
    }

    .disciplinas {
        margin: 4%;
    }
}
