.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 7%;
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 574px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.turma-block {
    background-color: #ffffff;
    border: 3px solid #9dc8ce;
    border-radius: 10px;
    color: #333;
    padding: 1rem;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
}

.turma-block h3,
.turma-block p {
    text-align: center;
    margin: 0.2rem 0;
}

.turma-block:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
