body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
    margin-top: 50px; 
    background-color: #d7f5fa;
    display: flex; 
    flex-direction: column; /* Adicionado para empilhar os itens verticalmente */
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

h1 { 
    font-size: 72px; 
    color: #6498a0; 
}

p { 
    font-size: 24px; 
    color: #666; 
    margin-top: 5%;
}

button {
    background: #6498a0;
    color: white;
    border-radius: 10px;
    height: 50px;
    margin: 5%;
    border: solid #6498a0;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}